In [2]:
import pandas as pd
import numpy as np

Here I have worked on df6 imported from Rstudio work.
I will replace those price_per_sqft which are more than the
mean ofprice_per_sqrt of house having more size than that one. 
eg. if 2 bhk house having more price_per_sqft than 3 bhk house 
then I will replace those price_per_sqft of 2 bhk house with mean of 3 bhk house or vice versa.

In [7]:
df6=pd.read_csv('C:\\Users\\Admin\\Desktop\\PRACTICAL\\PricePredict\\df6.csv')
df6.head()

,Unnamed: 0,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1,Electronic City Phase II,2 BHK,1056.0,2,39.07,2,3699.810606
1,2,Chikka Tirupathi,4 Bedroom,2600.0,5,120.00,4,4615.384615
2,3,Uttarahalli,3 BHK,1440.0,2,62.00,3,4305.555556
3,4,Lingadheeranahalli,3 BHK,1521.0,3,95.00,3,6245.890861
4,5,Kothanur,2 BHK,1200.0,2,51.00,2,4250.000000

In [11]:

def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df7 = remove_bhk_outliers(df6)

In [12]:
df7.shape

(8118, 8)

In [17]:
df7.to_csv(r'C:\\Users\\Admin\\Desktop\\PRACTICAL\\PricePredict\\df7.csv',index=False)